.my-link {
 
    color: rgb(255, 255, 255);
    /* Barva písma */
    text-decoration: none;
    /* Zabraňte standardnímu podtržení odkazu */

}

.my-link:hover {
    text-decoration: underline;
    /* Podtržení při najetí kurzoru */
}